@font-face {
  font-family: 'Verdana';
  src: url('./assets/fonts/verdana.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Verdana-bold';
  src: url('./assets/fonts/verdana-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'Verdana', sans-serif;
  
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

.ff_vardana_bold {
  font-family: 'Verdana-bold', sans-serif;
}