@font-face {
  font-family: 'Verdana';
  src: url('./assets/fonts/verdana.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Verdana-bold';
  src: url('./assets/fonts/verdana-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'Verdana', sans-serif;

}

body {
  margin: 0 auto;
}

.ff_vardana_bold {
  font-family: 'Verdana-bold', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000000 !important;
}

::-webkit-scrollbar {
  display: none !important;
}